.contestcard{
    height: 500px;
    width: 1060px;
    margin: 10px 150px 10px 300px;
    background-image: url('../../images/contestbackground.jpg');
    background-size: cover;
}

.contestcardnext{
    background-color:#031063;    
    height: 400px;
    width: 300px;
    margin: 50px 0px 10px 0px;
    padding: 20px;
    margin-left: -150px;

}

button.contestbtn{
    background-color: red;
    padding: 4px 14px;
    background-color: red;
    color: white;
    flex: right;
    font-weight: 400;
    cursor: pointer;
    font-family: tahoma;
    border-radius: 50px;
    height: 35px;
    width: 200px;
    margin-left: 25px;
  }

  button.contestbtn:focus{
    outline: none !important;
 }