.programmingsitecard{  
    height: 500px;
    margin: 10px 100px 10px 100px;
    background-image: url('../../images/programmingsite.png');
    background-size: cover;
    border: 1px solid gray;
}

.programmingsitecardnext{
    background-color: palegoldenrod;  
    height: 400px;
    width: 300px;
    margin: 50px 100px 10px 100px;
    padding: 20px;
    margin-left: 920px;
    border: 1px solid gray;

}

button.programmingsitebtn{
    border: 1px solid blue;
    padding: 4px 14px;
    background-color: blue;
    color: white;
    flex: right;
    font-weight: 400;
    cursor: pointer;
    font-family: tahoma;
    border-radius: 50px;
    height: 35px;
    width: 200px;
    margin-left: 25px;
  }

  button.programmingsitebtn:focus{
    outline: none !important;
 }