.programmingsitecard{  
    height: 500px;
    width: 1060px;
    margin: 10px 150px 10px 300px;
    background-image: url('../../images/programmingsite.png');
    background-size: cover;
}

.programmingsitecardnext{
    background-color: black;  
    height: 400px;
    width: 300px;
    margin: 50px 0px 10px 0px;
    padding: 20px;
    margin-left: -150px;
}

button.programmingsitebtn{
    border: 1px solid greenyellow;
    padding: 4px 14px;
    background-color: greenyellow;
    color: black;
    flex: right;
    font-weight: 400;
    cursor: pointer;
    font-family: tahoma;
    border-radius: 50px;
    height: 35px;
    width: 200px;
    margin-left: 25px;
  }

  button.programmingsitebtn:focus{
    outline: none !important;
 }